
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech-O-Pedia</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  <script src="https://kit.fontawesome.com/e84ea757da.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!-- bootstrap navbar -->
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid justify-content-between">
      <a class="navbar-brand" href="/">Tech-O-Pedia</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/" href="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/posts ">Post</a>
          </li>
          <li class="nav-item"><a class="nav-link " href="/dashboard/edits">Edit</a></li>
          {{#if logged_in}}
          <li class="nav-item"><a class="nav-link " href="/dashboard/new">Contribute</a></li>
          <a class="btn btn-outline-primary me-1" id="logout-link" href="#" role="button">Log Out</a>
          {{else}}
          <a class="btn btn-outline-primary me-1 login-form" href="/login" role="button">Log In</a>
          </li>
          <li>
            <a class="btn btn-primary signup" href="/signup" role="button">Sign Up</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
{{{body}}}

 <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>