
<div class="row">
        <div class="col border rounded">
            <div class="p-3">
                <div class="mx-auto">
                    <img src="images/kaihuan.jpg" width="318" height="318"
                        class="rounded mx-auto d-block img-fluid" alt="kaihuanhuang">
                </div>
                <h4 class="text-center mt-4">Kaihuan Huang</h4>
                <p class="text-center" >I am currently an MSc candidate in Computer Science with Artificial
                    Intelligence at the University of York in the United Kingdom. In addition, I am studying Full
                    Stack Web Development at the UC Berkeley Extension School. I have worked at the $30B electric
                    car company NIO and LG in various functions such as intern and marketing. A few years ago, I
                    moved to the United States to pursue new opportunities and improve my English and Spanish
                    skills. After moving to Silicon Valley and meeting many brilliant people here, I decided that I
                    want to pursue a career as a software engineer. I have always enjoyed math and loved learning
                    about future technologies. I believe this is the best path for my skills and interests. </p>
                <p class="text-center"><strong>Software Engineer</strong></p>
                <div class="bg-white d-flex justify-content-center">
                    <div class="d-flex flex-row fs-12">
                        <div class="like p-2 cursor"><span class="ml-1"> <a href="https://www.linkedin.com/in/kaihuan-huang-3775a823a/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></span></div>
                        <div class="like p-2 cursor"><span class="ml-1"> <a href="mailto:huangkaihuan0216@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></i></a></span></div>
                        <div class="like p-2 cursor"><span class="ml-1"><a href="https://github.com/kaihuan-huang" target="_blank"><i class="fa fa-user-circle-o"></i></a></span></div>
                    </div>
            </div>
            
        </div>
    </div>

<footer>
  <div class="footer">
    <p>Made with ❤️ by Kaihuan Huang</p>
  </div>
</footer>
