<br>
<br>

<div class="container">
  {{#each posts}}
  <div class="row">
    <div class="card">
      <h3>{{title}}</h3>
      <span><a class="card-header flex-row justify-space-between" href="/dashboard/edit/{{id}}">✍️</a> {{format_date createdAt}} </span>
       <pre>
        <code class="language-js">
          {{body}}
        </code>
      </pre>
    </div>
  </div>
  {{/each}}
</div>
