<br>
<br>

<div class="container">
  {{#each posts}}
  <div class="row">
    <div class="card">
      <h3>{{title}}</h3>
      <span><a class="card-header flex-row justify-space-between" href="/dashboard/edit/{{id}}">✍️</a> {{format_date createdAt}} </span>
       <pre>
        <text class="body">
          {{body}}
        </text>
      </pre>
    </div>
  </div>
 <li>
   <a class="btn btn-outline-primary me-1 comments" href="/api/comments" role="button">Comments</a>
</li>
  {{/each}}
</div>
