


<form class="container mt-5 comment-form">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
                <div class="bg-white">
                    <div class="d-flex flex-row fs-12">
                        <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>
                        <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
                        <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
                    </div>
                </div>
                <div class="bg-light p-2">
                    <div class="d-flex flex-row align-items-start"><textarea class="form-control ml-1 shadow-none textarea" name="comment"></textarea></div>
                  <div>
                    <button class="btn btn-outline-primary btn-sm ml-1 comment singlePostComment"  type="submit" id="comment">Post Comment</button>
                    <a class="btn btn-outline-primary btn-sm ml-1" href="/posts" role="button">Cancel</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="/js/comment.js"></script>