<div class="col-4 py-2 my-2 rounded mx-auto d-block">
  <div class="card-header">
    <h2>What's New</h2>
  </div>
  <form id="new-post-form" class="card-body">
    <label class="form-label" for="post-title">Title</label>
    <input type="text" name="post-title" class="form-control" />
    <label class="form-label" for="post-body">Content</label>
    <textarea name="post-body" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    <button type="submit" class="btn btn-primary mb-2">Create</button>
  </form>
</div>

<div class="container text-center"><strong>Thanks for the contribution. </strong><br>
  <img src="/images/code-a-pedia.png">
</div>


<script src="/js/new.js"></script>