<section>
    <a href="/" class="back-to-dashboard"> &larr; back to home</a>
  <h2 class="title">Share your feeling!</h2><hr>

  <form class="comment-form">
    <div>
      <label for="comment">comment:</label>
      <input class="textarea is-large" id="comment" name="comment"  placeholder="Write your comment here"/>
    </div>
    <button type="submit" class="btn">Share comments!</button>
  </form>
</section>

<script src="/js/comment.js"></script>