{{#if posts.length}}
<section>
  <h3 class="header-page">Your Posts</h3>
    {{#each posts as |post|}}
      {{> dashboard-postinfo post}}
    {{/each}}

</section>
{{/if}}

<button type="submit" class="btn"><a class="link-button" href="/dashboard/new">+ New Post</a></button>

<script src="/js/new.js"></script>