<div class="col-4 py-2 my-2 rounded mx-auto d-block">
  <div class="card-header">
    <h2>Post-Edit</h2>
  </div>
  <form  class="card-body">
    <input type="hidden" name="post-id" value="{{post.id}}" />
    <label class="form-label" for="post-title">Title</label>
    <input type="text" name="post-title" value="{{post.title}}" class="form-control" />
    <label class="form-label" for="post-body">Content</label>

    <textarea type="text" name="post-body" class="form-control">{{post.body}}</textarea>

    <button type="submit" class="btn btn-primary mb-2" id="edit-post-form">Update</button>
    <button type="button" id="delete-btn" class="btn btn-primary mb-2">Delete</button>
  </form>
</div>


<script src="/js/edit.js"></script>
