
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/bg1.jpg" class="d-block w-100" alt="images/bg1.jpg">
      <div class="carousel-caption d-none d-md-block" >
        <h5>Tech-O-Pedia</h5>
        <p>The ability of science and technology to improve human life is known to us.</p>
      </div>
    </div>

