<div class="col-4 py-2 my-2 rounded mx-auto d-block">
    <form id="login-form">
        <h2>Login here:</h2>
         <div class="mb-3">
            <label for="useremail-login" class="form-label">Useremail</label>
            <input type="useremail" class="form-control" id="useremail-login" aria-describedby="useremailHelp">
        </div>
        <div class="mb-3">
            <label for="password-login" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-login">
        </div>
        <button type="submit" class="btn btn-primary">Log In!</button>
         <a class="btn btn-outline-primary me-1 sigup-form" href="/signup" role="button">Create an Account</a>
    </form>
</div>

<script src="/js/login.js"></script>

<footer>
  <div class="footer">
    <p>Made with ❤️ by Kaihuan Huang</p>
  </div>
</footer>