<div class="post">
    <section class="card">
        <div class="card-header flex-row justify-space-between">
            <h2>
                {{post.title}}
            </h2>
            <div>
                Posted by {{post.User.name}} on 
            </div>
        </div>
    </section>
</div>