

     <div>
    <div>
      <div class="carousel-caption " >
        <h1>{{post.title}}</h1>
        <h4>{{post.body}}</h4>
        <br>
                    <div class="d-flex flex-row fs-12">
                        <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>
                        <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
                        <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
                          
                    </div>
                      <div>
                            {{#each post.comments}}
                            <p>{{comment_text}}</p>
                            {{/each}}   
                        </div>
                </div>  
      </div>
      <img src="https://picsum.photos/1028/600" class="d-block w-100" alt="images">
    </div>
    

   
   
   
   
    