<div> TESTING</div>
    <div class="singlePostComment">
        {{!-- {{JSON.Stringify(comment_text)}} --}}
        {{post.body}}
        <div>
    {{#each post.comments}}
</div>
    <p>{{comment_text}}</p>
<div>
    {{/each}}
</div>
    </div>
 
</div>
